@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to truck Booking Services</h1>
<p>TruckLoadingApp is a web application that allows clients to book trucks for their goods transportation needs.</p>
<p>TruckLoadingApp also allows drivers to manage their trucks and make them available for booking.</p>

</div>
